body{
  background-color: 0;
}

#texthist{
    color:black;
    width: 350px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav li {
  margin: 0 10px;
  position: relative;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  display: inline-block;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

nav a:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


